<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>LeoMiniGames</Name>
    <Version>0.7.1</Version>
    <Title>LeoMiniGames 0.7.1 Setup</Title>
    <Publisher>YoungLion</Publisher>
    <ProductUrl>https://leominigames.younglion.xyz</ProductUrl>

    <InstallerApplicationIcon>leominigames_installer</InstallerApplicationIcon>
    <InstallerWindowIcon>installer_window_icon.png</InstallerWindowIcon>
    <Logo>installer_logo.png</Logo>
    <PageListPixmap>installer_pagelist.png</PageListPixmap>
    <StyleSheet>style.qss</StyleSheet>
    <WizardStyle>Modern</WizardStyle>
    <WizardShowPageList>true</WizardShowPageList>
    <WizardDefaultWidth>920</WizardDefaultWidth>
    <WizardDefaultHeight>620</WizardDefaultHeight>
    <WizardMinimumWidth>760</WizardMinimumWidth>
    <WizardMinimumHeight>520</WizardMinimumHeight>

    <StartMenuDir>LeoMiniGames</StartMenuDir>
    <TargetDir>@ApplicationsDir@/LeoMiniGames</TargetDir>
    <MaintenanceToolName>LeoMiniGamesMaintenance</MaintenanceToolName>
    <MaintenanceToolIniFile>LeoMiniGamesMaintenance.ini</MaintenanceToolIniFile>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <SupportsModify>true</SupportsModify>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>

    <RemoteRepositories>
        <Repository>
            <Url>@LMG_UPDATE_REPOSITORY_URL@</Url>
            <Enabled>1</Enabled>
            <DisplayName>LeoMiniGames GitHub Updates</DisplayName>
        </Repository>
    </RemoteRepositories>

    <RunProgram>@TargetDir@/LeoMiniGames.exe</RunProgram>
    <RunProgramDescription>Launch LeoMiniGames</RunProgramDescription>
</Installer>
